<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>IdeaBox | Your notepad for the next big thing</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width" initial-scale=1>

        <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,800,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Exo:400,900,700,200italic' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <div class="push-wrapper">
            <div class="heading_bg"></div>
            <div class="wrapper">
                <header>
                    <h1>IdeaBox</h1>
                    <span class="tagline">Your notepad for the next big thing</span>
                </header>
                
                <%= yield %>

            </div><!-- .wrapper -->
            <div class="push"></div>
        </div> <!-- .push-wrapper -->
        
        <div class="footer">
		  <div class="footer_bg"></div>
        </div>
  </body>
</html>
